*{
	font-family: $fontFamily;
	color: map-get($map:$variables, $key:'logoOscuroII');
	padding: 0;
	margin: 0;
		}

html{
	font-size: 62.5%;
		}


body{
	background: map-get($map:$paleta, $key:'background');
	overflow-x: hidden 100%;
		}

h3{
	font-size: $textMd;
	padding-bottom: 4vh;
	animation-name: textAlpha;
	animation-duration: 3s;
	@media (min-width: 768px){
		font-size: $textXll;

		}

	@keyframes textAlpha{
	from {opacity: 0;}
	to{opacity: 2;}
	}

}

header div img{
	padding-top: 0.5vh;
		}


.img-wrapper {
position: relative;
overflow: hidden;
margin: 0 auto;
}

.img-move {
position: absolute;

}

.img-move-1 {
left: 0;
@media (min-width: 768px){
width: 90%;
	}	

@media (min-width: 1024px){
	width: 98%;
	}
}

.img-move-2 {
left: 2%; 
bottom: 10%;
border-color: map-get($map:$variables, $key:'logoOscuro');
border-width:1.9px;
border-style: solid;
padding: 0;
width: 99%;

@media (min-width: 768px){
	width: 96%; 
	border-width: 2.8px;
	border-radius: 2px;
	bottom: 7%;
	}

@media (min-width: 1024px){
	width: 98%;
	}
}

iframe{
	width: 100%;
	height: 20vh;
	margin-top: 2%;
	@media (min-width: 1024px){
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		border-radius: 6px; 
	}
		}

.carouselCustom {
	border-radius:4px;
	border: 3px solid map-get($map:$variables, $key:'logoOscuro');
	@media (min-width: 768px){
	padding: auto; 
}
}

.card-body{
	background-color: map-get($map:$paleta, $key:'cardColor');

	}

#div{
	background-color: map-get($map:$paleta, $key:'divColor');
	color: map-get($map:$variables, $key:'logoOscuroII');
	font-size: $textSm;
	@media (min-width: 1024px){
		font-size: $textMd;
			}
		}


#p{
	font-size: $textS;
	overflow: hidden;
	line-height: $lineP;
	text-align: center;
	padding: 5% 8% 0 8%;
	@media (min-width: 490px){
		font-size: $textSm;
				}
	@media (min-width: 768px){
		font-size: $textM;
		line-height: $lineForm;
	}
		@media (min-width: 1024px){
			font-size: $textLg;	
			line-height: $linePXlarge;
			
			}

		}

.p2 {
	@extend #p;
	padding: 0% 8% ; 
	} 


#h1{
	font-size: $textXl;
	font-weight: $bold;
	@media (min-width: 490px){
	font-size: $textXll;
		}
	
	@media (min-width: 768px){
	font-size: $textXxl;
		}
	}

.caja { 
background-color: map-get($map:$paleta, $key:'navColor');
overflow: hidden;
border-radius: 35px 0px 35px 0px;
moz-border-radius: 35px 0px 35px 0px;
webkit-border-radius: 35px 0px 35px 0px;
border: none;
text-align: center;
}

main section img {
border-radius: 53px 53px 53px 53px;
-moz-border-radius: 53px 53px 53px 53px;
-webkit-border-radius: 53px 53px 53px 53px;
border: 0px solid #000000;
	@media (min-width: 1024px){
		border-radius: 53px 0px 53px 0px;
	-moz-border-radius: 53px 0px 53px 0px;
	-webkit-border-radius: 53px 0px 53px 0px;
	border: 0px solid #000000;
	}
}

#imgBorder{
	padding-right: 0%;
	padding-left: 2%;
	margin-right: 0;
		@media (min-width: 1024px){
			padding: 0 5%;
		}
}

