@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;600 & display=swap');

//font
$fontFamily: 'Montserrat', sans-serif;

//text sizing
$textXxs: 1.1rem;
$textXs: 1.3rem;
$textS: 1.4rem;
$textSm: 1.5rem;
$textM: 1.8rem;
$textMd: 2rem;
$textLg: 2.5rem;
$textXl: 3.7rem;
$textXll: 6rem;
$textXxl: 9.2rem;


//font - weight
$bold:600;
$regular:400;
$light:300;


//line - height
$lineForm: 3rem;
$lineP: 2rem;
$linePlarge: 2.5rem;
$linePXlarge: 4rem;