#nav{
	width: 100%;
	background-color: map-get($map:$paleta, $key:'navColor');
	
}
		
	nav img {
	height: 16vh;
	@media (min-width: 768px){
		height: 20vh;
	}

	@media (min-width: 1024px){
		height: 26vh;
		}

	}

		ul {
			text-align: right;
	
		}
			
			li{
				font-size: $textXs;
				padding-right: 3vw;
				@media (min-width: 490px){
					font-size: $textSm;
					text-transform: uppercase;
				}

				

				@media (min-width: 768px){
					font-size: $textM;
				}

			}

	

