<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Carpinteria es un gran lugar para realizar todo tipo de actividades, consulte aquí algunas de ellas.">
	<meta name="keywords" content="actividades, cabañas, alojamiento, turismo, san luis, carpinteria, argentina">
	<meta name="author" content="Flavia Licropani">
	<title> Las Cabañitas - Actividades </title>
	<link class="rounded-circle" rel="shortcut icon" href="../img/favicon.svg">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/main.css">
	<!-- CSS bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div id="div" class="text-center">
		<a class="text-decoration-none" href="http://www.whatsapp.com" target="_blank">	
			<p class="mb-0">Contacto 011-5856-5475</p>
		</a>
	</div>
	 <nav id="nav" class="navbar navbar-expand-sm py-0 container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
		    <img src="../img/logo.svg" alt="logo de las cabanitas" > 
			</a>
      <button class="navbar-toggler me-3" 
      type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarToggleExternalContent" 
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false" 
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
		 <div class="d-flex-md justify-content-end collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav fw-bold">
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/ubicacion.html">Ubicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/actividades.html">Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
    </div>
     </div>
  </nav>
	<!-- ends nav -->
	<header class="text-center">
		<h1 id="h1">LAS CABAÑITAS</h1>
		<h3>- Actividades -</h3>
	</header>
	<!-- ends header -->
	<main class="row">
<div class="card container-fluid col-md-6 col-lg-4 my-3 px-0" style="width: 28rem;">
  <img src="../img/cabalgatas.jpg" class="card-img-top" alt="personas montando a caballo por las sierras">
  <div class="card-body">
    <h5 class="card-title fw-bold">Cabalgatas</h5>
    <p class="card-text">En Carpintería se pueden hacer distintos tipos de cabalgatas, por simples senderos desde los que es posible apreciar la flora autóctona, hasta las cabalgatas al Filo de la Sierra, subiendo la Cuesta de Carpintería y al Cerro Áspero, un antiguo pueblo minero abandonado después de la Segunda Guerra Mundial, actualmente reacondicionado como refugio de montaña.</p>
  </div>
</div>

<div class="card container-fluid col-md-6 col-lg-4 my-3 px-0" style="width: 28rem;">
  <img src="../img/bike.jpg" class="card-img-top" alt="personas montando bicicletas">
  <div class="card-body">
    <h5 class="card-title fw-bold">Mountain Bike</h5>
    <p class="card-text">Existen distintos circuitos en la Villa para poder realizar esta actividad, uno de ellos es el Circuito Eliseo Mercau, que se encuentra en el Camping Municipal. Merlo organiza durante todo el año competencias deportivas de ciclismo de montaña, una de ellas es Adventure Bike, una competencia de aventura, resistencia, cooperación y orientación por la sierra de los Comechingones.</p>
  </div>
</div>

<div class="card container-fluid col-md-6 col-lg-4 my-3 px-0" style="width: 28rem;">
  <img src="../img/rappel.jpg" class="card-img-top" alt="personas escalando una montaña">
  <div class="card-body">
    <h5 class="card-title fw-bold">Rappel</h5>
    <p class="card-text">Se denomina así al descenso con soga desde la cima de una quebrada en la sierra hasta la base. Se realiza con equipo especial, supervisado por baqueanos especializados en esta actividad. Si bien la Villa de Merlo tiene distintos lugares desde donde se puede realizar esta actividad, los más comunes son El Salto de Tabaquillo y El Chorro de San Ignacio en Villa Larca.</p>
  </div>
</div>

<div class="card container-fluid col-md-6 col-lg-4 my-3 px-0" style="width: 28rem;">
  <img src="../img/trekking.jpg" class="card-img-top" alt="personas circulando por un cendero">
  <div class="card-body">
    <h5 class="card-title fw-bold">Trekking</h5>
    <p class="card-text">Recorrido a pie o marcha por senderos no tradicionales por lo general en zona de montañas. Requiere vencer distintos niveles de dificultad dependiendo del circuito a realizar. La Villa de Merlo se caracteriza por tener una topografía muy especial, que es ideal para la práctica de esta modalidad donde se combinan el senderismo, trekking y escalada en roca.</p>
  </div>
</div>

<div class="card container-fluid col-md-6 col-lg-4 my-3 px-0" style="width: 28rem;">
  <img src="../img/parapente.jpg" class="card-img-top" alt="imagen del centro de merlo">
  <div class="card-body">
    <h5 class="card-title fw-bold">Parapente</h5>
    <p class="card-text">En el camino al filo y pasando el Mirador del Sol podemos encontrar a los instructores autorizados para hacer vuelos en parapente. La duración del vuelo es de entre 20 y 30 minutos segun las condiciones climaticas. En Merlo, los cielos invitan a volar. Realizá tu vuelo de bautismo a los pies de un paisaje de naturaleza virgen.</p>
  </div>
</div>

<div class="card container-fluid col-md-6 col-lg-4 my-3 px-0" style="width: 28rem;">
  <img src="../img/recreacion.jpg" class="card-img-top" alt="imagen del centro de merlo">
  <div class="card-body">
    <h5 class="card-title fw-bold">Recreación</h5>
    <p class="card-text">Cuenta con una gran variedad gastronómica, productos regionales y artesanías de la regíón. Villa de Merlo posee dos casinos a los cuales podes visitar, para jugar, comer o bailar.</p>
  </div>
</div>
		
	</main>
	<!-- ends main -->
	<footer id="pie">
		
		<ul>
			<li>
				<img class="rounded-circle" src="../img/favicon.svg" alt="favicon de las cabanas"></li>
			<li>Complejo La Belen, Ruta Provincial 1, Km 11</li>
			<li>Carpintería, San Luis, Argentina</li>
			<li>mckrywko@gmail.com</li>
			<li>
				<a class="text-decoration-none" href="https://wa.me/01158565475" target="_blank" >
					<img src="../img/whatsapp.svg" alt="logo de whatsapp">
					</a></li>
				</ul>
				
	</footer>
	<!-- ends footer -->
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>